* {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    margin: 0;
}

body {
    margin: 0;
    font-size: 112.5%;
}

header {
    margin: 0;
    background: lightblue;
    padding: 20px;
}

header h1,
a {
    position: relative;
    margin: 0;
    padding: 40px 10px;
}

h1 {
    font-weight: 500;
    font-size: 3rem;
}

main {
    padding: 0 15px;
}

img {
    min-width: 20%;
    min-height: 20%;
    max-width: 30%;
    max-height: 30%;
}

/*figcaption {
    font-size: 1rem;
}
*/

.shadow {
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}

ul {
    list-style-type: none;
}

li,
p {
    font-size: 300;
}

.external-link {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background: darkgray;
    display: grid;
    justify-content: center;
}

.footer-link {
    display: flex;
    justify-content: space-evenly;
}

.footer-link i {
    display: flex;
    justify-content: space-evenly;
}