* {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 112.5%;
  line-height: 1.5;
}

main {
  padding: 0 15px;
}

header h1,
a {
  margin: 0;
  padding: 10px 10px;
  grid-area: 'nav';
}

h1 {
  font-weight: 500;
  font-size: 3rem;
}

h4 {
  font-weight: 500;
}

ul {
  list-style-type: none;
}

p {
  margin: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
/*figcaption {
    font-size: 1rem;
}
*/

i {
  font-size: 1.5rem;
}

i:hover {
  font-size: 1.9rem;
  color: #bbb;
}

footer {
  background: darkgray;
  padding-top: 15px;
  display: grid;
  justify-content: center;
}

.profile-pic {
  display: flex;
  height: 75vh;
  width: 85vw;
}

.main-header {
  margin: 0;
  background: lightblue;
  grid-area: 'nav';
}

.main-header a:hover {
  font-size: 1.6rem;
}

.profile-pic,
.skill,
.biog,
.contact,
.external,
.work,
.school,
.footer {
  margin-bottom: 20px;
}

.shadow {
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  background: white;
}

.external-link {
  display: inline-block;
}

.subtitle-section {
  padding-bottom: 10px;
}

.footer-link {
  display: flex;
  justify-content: space-evenly;
}

.footer-link i {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 500px) {
  .container {
    display: grid;

    grid-template-rows: auto;
    grid-template-areas:
      'skill contact'
      'about about'
      'work school'
      'footer footer';
    grid-gap: 10px;
  }
  .profile-pic {
    display: flex;
    height: 75vh;
    width: 85vw;
    justify-content: center;
  }

  .skill {
    text-align: center;
    grid-area: skill;
  }

  .external {
    margin-top: 10px;
    grid-area: external;
  }

  .contact {
    grid-area: contact;
  }

  .biog {
    grid-column-start: span 3;
    grid-area: about;
  }
  .biog h2 {
    text-align: center;
  }

  .work {
    grid-area: work;
  }

  .school {
    grid-area: school;
  }

  .footer {
    grid-area: footer;
  }
}
